<div class="comment-preview-container">
  @if (comment(); as comment) {
  <div class="comment-preview">
    <div class="comment-preview-header">
      <div class="comment-preview-header-info">
        <img [src]="comment?.owner?.url" [alt]="comment?.owner?.displayName" />
        <h3>{{ comment?.owner?.displayName }}</h3>
      </div>
      <span>{{ comment?.createdAt | timeAgo }}</span>
    </div>
    <div class="comment-preview-content">
      <input
        type="text"
        [class.edited]="editMode()"
        [value]="inputText()"
        [disabled]="!editMode()"
        (input)="onTextChange($event)"
      />

      <app-comment-actions
        [editedMode]="editMode()"
        [replysCount]="comment()?.replies?.length ?? 0"
        (editClicked)="edit(comment()?.id!)"
        (replyClicked)="reply(comment()!)"
        (deleteClicked)="deleteComment(comment()?.id!)"
        (toggleReplysClicked)="toggleReplys()"
      />
    </div>

    @if (showReplys()) {
    <div class="replies">
      @for (reply of comment?.replies; track reply.id) {
      <app-comment-preview
        class="reply"
        [comment]="reply"
        (replyComment)="replyComment.emit($event)"
        (delete)="deleteComment(reply.id!)"
      />
      }
    </div>
    }
  </div>
  }
</div>
