.button {
  cursor: pointer;
  min-width: 100px;
  min-height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.edited {
    background-color: lightgreen;
    color: black;
    border: 1px solid lightgreen;
  }

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }

  // Variant for icon-only buttons
  &.icon-only {
    min-width: auto;
    width: 44px;
    height: 44px;
    padding: 0;
  }

  span {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }
}
