<app-header (searchQueryChange)="onSearchChange($event)" (sidebarToggle)="onSidebarToggle()" />
<div class="forum-content">
  @if (isSidebarOpen()) {
  <div class="mobile-overlay" (click)="onSidebarToggle()"></div>
  }
  <app-sidebar [class.mobile-open]="isSidebarOpen()" />

  <div class="main-content">
    @if (isLoading()) {
    <p class="loading">Loading...</p>
    } @else {
    <app-comment-list [commentsWithOwners]="filteredUserComments()" />
    }
  </div>
</div>
<app-footer />

<div class="add-comment-button">
  <app-button (onClick)="onAddCommentClick()">
    <ng-icon name="heroPlus" [style.width.px]="20" [style.height.px]="20" />
  </app-button>
</div>

@if (openAddCommentPopup()) {
<app-add-reply-popup
  [(openAddReplyPopup)]="openAddCommentPopup"
  [type]="'Comment'"
  (replyText)="onAddComment($event)"
/>
}
